USE [master]
GO
/****** Object:  Database [SPOTIFY]    Script Date: 7/5/2022 12:08:35 AM ******/
CREATE DATABASE [SPOTIFY] ON  PRIMARY 
( NAME = N'SPOTIFY', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\SPOTIFY.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SPOTIFY_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\SPOTIFY_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SPOTIFY].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SPOTIFY]
GO
/****** Object:  Table [dbo].[tblartists]    Script Date: 7/5/2022 12:08:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblartists](
	[ARTID] [int] IDENTITY(1,1) NOT NULL,
	[ARTNM] [nvarchar](50) NULL,
	[DOB] [nvarchar](10) NULL,
	[BIO] [nvarchar](100) NULL,
 CONSTRAINT [PK_tblartists] PRIMARY KEY CLUSTERED 
(
	[ARTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblsongs]    Script Date: 7/5/2022 12:08:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblsongs](
	[SNGID] [int] IDENTITY(1,1) NOT NULL,
	[SNGNM] [nvarchar](50) NULL,
	[RLSDT] [nvarchar](50) NULL,
	[IMAGE] [nvarchar](50) NULL,
	[ARTISTS] [nvarchar](50) NULL,
	[TOTALUSR] [int] NULL,
	[TOTALRT] [int] NULL,
	[AVGRT] [decimal](18, 0) NULL,
	[ARTID] [int] NULL,
 CONSTRAINT [PK_tblsongs] PRIMARY KEY CLUSTERED 
(
	[SNGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbluser]    Script Date: 7/5/2022 12:08:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbluser](
	[ID] [int] NULL,
	[NAME] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[PASS] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblusers]    Script Date: 7/5/2022 12:08:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblusers](
	[USERID] [int] NULL,
	[USERNM] [nvarchar](50) NULL,
	[EMAIL] [nvarchar](50) NULL,
	[PSWRD] [nvarchar](100) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblsongs]  WITH CHECK ADD  CONSTRAINT [FK_tblsongs_tblsongs] FOREIGN KEY([ARTID])
REFERENCES [dbo].[tblartists] ([ARTID])
GO
ALTER TABLE [dbo].[tblsongs] CHECK CONSTRAINT [FK_tblsongs_tblsongs]
GO
/****** Object:  StoredProcedure [dbo].[SP_ARTIST]    Script Date: 7/5/2022 12:08:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_ARTIST]
(
@NAME VARCHAR(50)=null,
@BIO VARCHAR(100)=null,
@DOB VARCHAR(50)=null,
@TASK VARCHAR(50)=null
)
as begin
	IF(@TASK='CREATE')
	BEGIN
		
			INSERT tblartists(ARTNM,DOB,BIO)
			VALUES(
				@NAME,
				@DOB,
				@BIO
							);
		
	END

	IF(@TASK='SELECT')
	BEGIN
		SELECT * FROM tblartists;
	END
	
END
GO
/****** Object:  StoredProcedure [dbo].[SP_SONG]    Script Date: 7/5/2022 12:08:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[SP_SONG]
(
@NAME VARCHAR(50)=null,
@RLSDATE VARCHAR(100)=null,
@ARTWORK VARCHAR(50)=null,
@ARTIST VARCHAR(50)=null,
@TYPE varchar(50)=null,
@TASK VARCHAR(50)=null
)
as begin
	IF(@TASK='CREATE')
	BEGIN
		
			INSERT tblsongs(SNGNM,RLSDT,[IMAGE],ARTISTS)
			VALUES(
				@NAME,
				@RLSDATE,
				@ARTWORK,
				@ARTIST
			
			);
		
	END
	IF(@TASK='SELECT')
	BEGIN
		SELECT Top(10)* FROM tblsongs ORDER BY TOTALRT DESC;
	END
	
END
GO
USE [master]
GO
